# This is a basic workflow to help you get started with Actions

name: Reusable workflow

# Controls when the workflow will run
on:
  workflow_call:
      inputs:
          my-var:
              required: true
              type: string

env:
  MY_VAR: ${{ inputs.my-var }}

jobs:
  printing_var:
      runs-on: ubuntu-latest
      steps:
          - name: Printing inputs.my-var
            run: echo my var is ${{ inputs.my-var }}

          - name: Printing $MY_VAR
            run: echo my var is $MY_VAR

